@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
/*background: transparent;*/
border: 0;
vertical-align: top;
list-style:none;
list-style-type: none;
text-align:left;
}
:focus {
	outline: 0;
}


.pagina {box-sizing:border-box;
padding:0;
background:url(https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagris.jpg);

background: -moz-linear-gradient(top, rgba(4,80,90,0.8) 0%, rgba(146,200,213,0.5) 6%), url('https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagri.jpg');

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4,80,90,0.8)), color-stop(8%, rgba(146,200,213,0.5))), url('https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagri.jpg');

background: -webkit-linear-gradient(top, rgba(4,80,90,0.8) 0%, rgba(146,200,213,0.5) 6%), url('https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagri.jpg');

background: -o-linear-gradient(top, rgba(4,80,90,0.8) 0%, rgba(146,200,213,0.5) 6%), url('https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagri.jpg');

background: -ms-linear-gradient(top, rgba(4,80,90,0.8) 0%, rgba(146,200,213,0.5) 6%), url('https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagri.jpg');

background: linear-gradient(to bottom, rgba(4,80,90,0.8) 0%, rgba(146,200,213,0.5) 6%), url('https://akidaniel.github.io/menuvictoria/imagenes/fondovictoriagri.jpg');

}
 
.wrapper {overflow-x:hidden; position: relative; padding: 0 3px;}

.CENTER {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

/*TEXTOS*/
.SUBTITULO{font-family: 'M PLUS 1p', sans-serif;
font-size: 2rem;
text-align:center;
line-height: 2.5rem;
margin: 0 0 1rem;
color: #e0ffff;;
letter-spacing: 0.5rem;
text-transform: uppercase;
text-shadow: 0 0 1rem #001929;
}


/*FIN TEXTOS*/


.SOCIAL {
position:absolute;
top:0;
left: 0;
display: flex;
justify-content: center;
z-index: 9500;
width:100%;}

/*BOTON SOCIAL*/
.FCBK, .TWITTER, .INSTA, .MAIL, .BACK, .HOME, .WHATS {
text-indent: unset;
border: 0.15rem solid #e0ffff;
border-radius: 8px;
font-family: "Font Awesome 5 Brands";
padding-right: 0.35rem;
color: #e0ffff;
text-decoration:none;
font-size: 1.5rem;
line-height: 2.5rem;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
margin: 0 0.25rem;
width: 2.25rem;
}
.BACK {display:none;}

.FCBK:before {
    content: "\f39e";
    padding: 0 14px;
}

.TWITTER:before {
    content: "\f099";
    padding: 0 9px;
}

.WHATS:before {
    content: "\f232";
    padding: 0 11px;
}

.MAIL:before {
	font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    padding: 0 8px;
	font-weight: 900;
}


/*BOTON BACK TO TOP*/
.back-to-top {
	display: none;
	width: 4.75rem;
	height: 4.75rem;
	text-indent: -9999px;
	position: fixed;
	z-index: 1500;
	right: 0.5rem;
	bottom: 0rem;
	background: url(https://akidaniel.github.io/menucatalina/imagenes/bt_top.png) no-repeat center 43%;
	background-size: contain;
}


.MAIL:hover, .TWITTER:hover, .FCBK:hover, .INSTA:hover, .BACK:hover, .HOME:hover, .pre:hover, .post:hover, .WHATS:hover {
-moz-filter: hue-rotate(0deg) saturate(1) brightness(2.5);
-o-filter: hue-rotate(0deg) saturate(1) brightness(2.5);
-ms-filter: hue-rotate(0deg) saturate(1) brightness(2.5);
-webkit-filter:hue-rotate(0deg) saturate(1) brightness(2.5);
filter:hue-rotate(0deg) saturate(1) brightness(2.5);
}


/*MENU*/


.flexbox {
display: flex;

margin: 0 auto;
}

.lista {
justify-content: space-evenly;
} 
.preciolista {
flex: 0 0 20%!important;
text-align:right;
}
#menuinfantil div, #menu2 div, #menu4 div, #extras div, #chimichurri div, #infusiones div, #cafespeciales .principal:not(.ultimalinea) {flex:1;}
#sangria .principal, #vinocasa .principal {flex: 1 1 40%;}
#sangria .preciolista, #vinocasa .preciolista {flex: 1 1 25%!important;} 
 
.languecontainer {position:absolute;
top:0;
display: flex;
justify-content: center;
z-index: 9500;
margin:2rem 0 1rem 0;
width:100%;}

.menuitemcontainer, .cartadevinos, .cartadepostres {max-width: 580px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius:10px; margin: 0 auto; /*-moz-box-shadow: #223139 0 0 5px; -webkit-box-shadow: #223139 0 0 5px; box-shadow: #223139 0 0 5px;*/}
.menuitem {font-family: 'Euphoria Script', cursive; font-size: 2.8rem; 
color: #e0ffff;
text-align: center;
margin: 0 -0.05rem -0.1rem;
background: rgb(4,80,90,0.5);
padding: 5px;
-moz-border-radius: 12px 12px 0 0;
-webkit-border-radius: 12px 12px 0 0;
border-radius: 12px 12px 0 0;
text-shadow: 2px 1px 0.1rem #034163;
}

i {color: #e0ffff;}
.ultimalinea {border:none}
.menudevinos, .menudepostres {display:none}
.bebidas, .desserts  {margin-top:-4.5rem!important;}


.topimage {margin: -2.5rem auto 0; text-align:center;}
.topimage img {max-width:500px;}
.principal {
background: ;
flex: 0 0 75%;
font-family: 'M PLUS 1p', sans-serif;
font-size:18px;
padding: 5px 5px 2px 5px; border-bottom: 2px dotted #1E5B77;
color:#1E5B77;
}

.ultimalinea {border:none}



.dish-2 {text-align: center; margin: 0.1rem 0.05rem 0.05rem; width:49%; z-index:10;
    padding: 0.5rem 0.5rem 1rem; -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px; 
	-moz-box-shadow: 0 0 0pt 1.5pt #478088; 
	-webkit-box-shadow: 0 0 0pt 1.5pt #478088; 
	box-shadow: 0 0 0pt 1.5pt #478088;
	background: rgba(213,247,255,0.3);}
.dish-3 {text-align: center; width:32%; z-index:10; margin: 0.15rem 0.06rem 0rem; width:49%; z-index:10;
    padding: 0.5rem 0.5rem 1rem; -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px; -moz-box-shadow: 0 0 0pt 1.5pt #478088; -webkit-box-shadow: 0 0 0pt 1.5pt #478088; box-shadow: 0 0 0pt 1.5pt #478088;
	background: rgba(213,247,255,0.3);}
.dish-2 img, .dish-3 img, dish-1 img {max-height: 100%; max-width: 100%; -webkit-filter: drop-shadow(2px 6px 5px rgba(1,40,45,0.5));}
.dish-1 {width:99%;}
.topdish {border-radius: 0 0 12px 12px;}
.destacado {font-family: 'M PLUS 1p', sans-serif; margin:0.5rem 0.5rem 1rem;
text-align:left;
font-size:17px; font-weight: normal; text-align:center; line-height: 120%; color: #e0ffff; text-shadow: none;}
.descr {font-family: 'M PLUS 1p', sans-serif; font-weight: normal;
font-size:14px; text-align:center; margin: 10px 3px 0; line-height: 125%;
}
.tabla {padding: 8px 5px 4px;
    margin: 0;}
	
.menuitem.plato {font-family: 'M PLUS 1p', sans-serif; font-size:18px; line-height: 115%; padding:0; font-weight: 500; letter-spacing: -0.03rem; background: none; color:#1E5B77; text-shadow: none;}
.price {position: relative;
font-family: 'M PLUS 1p', sans-serif;
font-size: 16px;
transform: scale(.7, 1);
display: inline-block;/*width:fit-content;-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 4px 10px;
    background-color: #7B7E97;
    bottom: 15px; color: white;
    left: 60%;
 display: block;
width: 50px; text-align: unset;*/right: 0; font-weight: 500; 
}
   

	
	
.dishphoto {text-align:center!important}

.pricex3 {left: 30%; margin: 0 auto; position:unset;}
.dish-3 i, .dish-2 i, .principal i, .FINDUS i {color:#1E5B77;}
.address {font-family: 'M PLUS 1p', sans-serif;
 font-size: 14px; text-align: center; margin: 0 auto; line-height: 1.25rem;}
.address i {color: #000000;}
.address a {text-decoration:none; color:#000000;}
.lastline {border:none; text-align:center; margin-bottom: 0.5rem;}
.pricemenu {margin: 1rem auto;
    padding: 0.5rem;
    width: 30%;
    position: relative;
    height: 12px;
    line-height: 80%!important;}
.dishnumber {position: relative;
    font-family: 'M PLUS 1p', sans-serif;

    font-size: 16px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 2px 6px;
   background-color: white;  bottom: 15px;
    font-weight: bold;
    color: black;
    bottom:0.22rem;;
}

.numeroplato {
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.numeroplato .price {right:unset;}

.dishnumber::after {position:relative; 
		  content: "\2617"; color:blue; margin-left: -1.5em; z-index:-9999; display:none;
}

.menues {background: rgb(219,249,255,0.35);
    padding: 5px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 15px;}
	
.menueslight {}

	
.menues .menuitem {margin-bottom: 0.5rem;}
	
/*LANGUE*/
.BOTONERA, .cambiocontenido {display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
justify-content: center;
width:100%;
position:relative;
}
.cambiocontenido {position: fixed;
    bottom: 0rem;
    z-index: 990; 
	direction: rtl;
    justify-content: flex-start;
	right: 5rem;
    }
	

	
#cambiocontenido {transition: bottom 0.3s;}	
#LES {display:block;}
.LUK, .LFR, .CAT {display:none;}
.LES {display:block;}

.menu_lang, .menu_contenido {display: none;}
.menu_lang:checked ~ label .BUTTON {color: #c2c;}
.menu_contenido:checked ~ label .BUTTON {color: #c2c;}

.UK, .ES, .FR, .CT {
display:block;
text-indent:-625rem;
width:3rem;
height:3rem;
background-repeat:no-repeat;
background-size:contain;
cursor: pointer;
margin: 0 2rem;
z-index:222;}
.UK {background-image: url(https://akidaniel.github.io/menucatalina/imagenes/uk.png);}
.ES {background-image: url(https://akidaniel.github.io/menucatalina/imagenes/spain.png);}
.FR {background-image: url(https://akidaniel.github.io/menucatalina/imagenes/france.png);}
.CT {background-image: url(https://akidaniel.github.io/menucatalina/imagenes/catalan.png);}

.platos, .vinos, .postres {display: block;
	width: 5rem;
	height: 5.5rem;
	text-indent: -9999px;
	/**position: fixed;**/
	z-index: 999;
	cursor: pointer;
}
.platos {background: url(https://akidaniel.github.io/menuvictoria/imagenes/icomenu_rojo.png) no-repeat center 43%; background-size: contain;}
.vinos {background: url(https://akidaniel.github.io/menucatalina/imagenes/wine_icon.png) no-repeat center 43%; background-size: contain;}
.postres {background: url(https://akidaniel.github.io/menucatalina/imagenes/dess_icon.png) no-repeat center 43%; background-size: contain;}

.dish-2 div {text-align: right;}

.menuitem img {vertical-align: middle;
    filter: brightness(0) invert(1) sepia(1) saturate(2.5) hue-rotate(140deg) drop-shadow(2px 1px 0rem #034163); width:40px; margin-bottom: 0.5rem;
   }

.expandish {
background-color:#ffffff;
position: absolute;
min-width: 580px;
max-width: 580px;
border:solid 2px #B5B5B5;
cursor: zoom-out;
margin: 0;
z-index: 12;
padding-bottom: 1rem;
border-radius:12px!important;
}

.expandish img {width: 300px; /**padding: 15px 0 0 0;**/}

	
.expandish .pricex3 {left:20%; position: relative;}

.expandish .dishphoto {margin: 15px 0 -10px; text-align: center;}

.expandish .menuitem {color:#1E5B77;}

.TITLE {-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;}

.-L {padding-bottom:0.8rem;}
.-C {text-align:center!important; }
.cartadevinos.TITLE, .cartadepostres.TITLE {margin: 6rem auto 0;}
.wine {text-align: center!important;}
.wine img {height: 230px; padding:0; margin: 0 auto 0.8rem; -webkit-filter: drop-shadow(3px 4px 3px rgba(1,40,45,0.4));}
.expandish .wine img {width:unset; height: unset; }
.expandish .-C .price {line-height: 180%; margin-left: 10rem; left:unset; right:unset;}
.expandish .-C .pricex3 {line-height: 180%; margin-left: 10rem; left:unset; right:unset;}
.expandish .-C {position: absolute; right: 1.5rem; top: 50%;}
.expandish .fa-wine-glass-alt {left: 10rem; position: relative;}
.expandish .wine {text-align: left!important; margin-left: 3rem!important; height: 430px;}
.expandish .-C p {margin-left: 10rem;}
.expandish .-C .descr {padding: 0 0 10px 0;}


.FINDUS {top:0;}
a.FINDUS {text-decoration: none;}

/**ALERGENOS**/
.alergenos {display:none; justify-content: left;
    width: 100%;
    position: absolute; visibility:hidden}

.expandish .alergenos {display:none; position: relative; visibility: visible; margin-bottom: -1rem;}

.expandish .LESa {display:flex;}	
.expandish .LUKa, .expandish .LFRa, .expandish .CATa {display:none;}

.gluten, .huevo, .pescado, .mostaza, .cacahuete, .crustaceo, .frutoseco, .apio, .sesamo, .sulfito, .altramuz, .lacteo, .molusco, .soja {
border: 0.15rem solid #ffffff;
border-radius: 1.5rem;
color: #000000;
margin: 0.5rem 0.4rem -2rem 0rem;
width:2.5rem;
height:2.5rem;
font-family: 'M PLUS 1p', sans-serif;
font-size: 15px; text-align: center;
position: relative;
line-height: 680%;
display: flex;
flex-direction: column;
align-items: center;
left:0;}
.altramuz {background-color: #F7DF55;}
.apio {background-color: #63BD55;}
.gluten {background-color: #F2764A;}
.huevo {background-color: #F59342;}
.cacahuete {background-color: #C87C51;}
.crustaceo {background-color: #43BCE8;}
.frutoseco {background-color: #EE5D64;}
.lacteo {background-color: #743E21;}
.molusco {background-color: #5BC9D7;}
.mostaza {background-color: #C59A40;}
.pescado {background-color: #314F9F;}
.sesamo {background-color: #A29677;}
.sulfito {background-color: #871C58;}
.soja {background-color:#23AD65;} 
.alerglista {border: 0.15rem solid #ffffff;
    border-radius: 1.5rem;
    margin: 0.1rem 0.35rem;
    width: 1.35rem;
    height: 1.35rem;
    display: block;}
.soja:before{ background: url(https://static.thenounproject.com/png/916439-200.png) no-repeat center 30%; background-size: 80%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%; left:0;
    }
.sulfito:before{ background: url(https://static.thenounproject.com/png/1903088-200.png) no-repeat center 30%; background-size: 70%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%; left:2%;
    }
.mostaza:before{ background: url(https://img.icons8.com/ios-filled/2x/mustard.png) no-repeat center 30%; background-size: 70%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%; left:0;
    }
.frutoseco:before{ background: url(https://static.thenounproject.com/png/1048434-200.png) no-repeat 55% 45%; background-size: 70%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%; left:0;
    }
.lacteo:before{ background: url(https://static.thenounproject.com/png/1617386-200.png) no-repeat 55% 45%; background-size: 90%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%; left:0;
    }
	
.pescado:before{ background: url(https://img.icons8.com/ios-glyphs/2x/whole-fish.png) no-repeat 55% 45%; background-size: 80%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%;
    }
.gluten:before{ background: url(https://static.thenounproject.com/png/2300996-200.png) no-repeat center; background-size: 70%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%;
   left:0;
    }
	
.huevo:before{ background: url(https://img.icons8.com/ios-filled/2x/eggs.png) no-repeat 55% 45%; background-size: 70%;
-webkit-filter: invert(100%);
    position: absolute;
    content: "";
	color:#23AD65;
   height:100%;
   width:100%;
   left:0;
    }
/**.pescado:before{
    position: absolute;
    top: 0;
    font-size: 24px;
	padding: 0 3px;
	font-family: "Font Awesome 5 Free";
    content: "\F578";
	color:#ffffff;
	line-height: 160%;
   
    }**/

@media only screen and (max-width: 900px) {
html {margin: -0.5rem 2px 0;
}
.menuitemcontainer { /*-moz-box-shadow: #223139 0 0 4px; -webkit-box-shadow: #223139 0 0 4px; box-shadow: #223139 0 0 4px; */}
.UK, .ES, .FR, .CT {margin: 0 1rem; width: 3rem;}
.BOTONERA {top: 4.15rem;}
.expandish {min-width: 92%;}
/**FONDO DE COLOR**/
.layer {background-color: rgb(4,80,90,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.show {display:none;}
/**FIN FONDO DE COLOR**/

.menuitem {margin: 0 -0.05rem -0.1rem;
}
	
/**.price {left:30%}
.expandish .price {display: unset;}
.pricex3 {left:unset; line-height: 140%;}**/

.dish-3 .dishnumber {left:0;}

.expandish .dishnumber {color: #ffffff; background-color: #000000;}

.bebidas  {marging: 0rem!important; margin-top:0rem;}
.TITLE {-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;}
.menuitemcontainer .pricex3 {line-height:unset;}

.cambiocontenido {
    justify-content: flex-end;
	right:unset;
    }
.FINDUS {top:0;}

.topimage img {
margin: 4rem auto 0; max-width:100%;
}

.bebidas, .desserts {
    margin-top: -0.5rem!important;
}

.SOCIAL {
top:-1.8rem;
}

/*BOTON SOCIAL*/
.FCBK, .TWITTER, .INSTA, .MAIL, .BACK, .HOME, .WHATS {
border: 0.13rem solid #6fa6a2;
border-radius: 3rem;
line-height: 3rem;
margin: 0 -0.04rem;
width: 3.5rem;
text-align: center;
padding: 1.2rem 0 0;
color: #6fa6a2;
}
.BACK {display:block;}
}



@media only screen and (min-width:901px) {


.SOCIAL {
top:172px;
margin-right: 5px;
width:60px;
left:90%;
right: 0;
margin-left: 0px;
display: block;
}
.FCBK, .TWITTER, .GPLUS, .MAIL, .HOME, .BACK, .INSTA, .WHATS {
margin: 0 0 16px;
}

}


/**

@media only screen and (max-width: 640px)  {
body[yahoo] .ANCHO {width:440px!important; padding:0px;!important; }
body[yahoo] .CUADRO {width:220px!important; padding:0px;!important; }
}
@media only screen and (max-width: 540px) {
body[yahoo] .ANCHO {width:300px!important; padding:0;}
body[yahoo] .CUADRO {width:140px!important; padding:0px;}